# Visual Studio
.vs/
*.user
*.suo

# Build results
bin/
obj/

# .NET
*.dll
*.exe
*.app
*.log

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# User-specific files
*.user
*.userosscache
*.sln.docstates

# Angular (weather-client)
node_modules/
dist/
.env
.angular/cache/
package-lock.json